.container {
  width: 100%;
  overflow: hidden;
  max-width: 1285px;
  margin: 0 auto;
  padding: 100px 30px 100px;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 30px;
}

.playerSection {
  width: 65%;
}

.listSection {
  width: 35%;
}

@media (max-width: 1080px) {
  .container {
    padding: 100px 20px;
  }

  .content {
    flex-direction: column;
  }

  .playerSection {
    width: 100%;
  }

  .listSection {
    width: 100%;
  }
}
