.container {
  width: 100%;
  overflow: hidden;
  max-width: 1285px;
  margin: 0 auto;
  padding: 100px 30px 100px;
}

.mobileHeader {
  display: none;
  padding: 20px 20px 10px;
}

.title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 30px;
}

.playerSection {
  flex-basis: 65%;
}

.listSection {
  flex-basis: 35%;
  min-width: 350px;
}

.mobileCardWrapper {
  display: contents;
}

@media (max-width: 768px) {
  .container {
    padding: 10px 20px;
  }


  .content {
    flex-direction: column-reverse;
  }

  .mobileCardWrapper {
    display: flex;
    flex-direction: column;
    background: var(--card-color);
        box-shadow: 0px -3px 15px 0px var(--border-color) inset;
    border-radius: 20px;
    overflow: hidden;
  }

  .playerSection {
    width: 100%;
    border-radius: 0;
  }

  .listSection {
    width: 100%;
    min-width: auto;
  }
  
}
