.container {
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.playerSection {
  width: 100%;
}

.listSection {
  width: 100%;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .playerSection {
    width: 70%;
  }

  .listSection {
    width: 30%;
  }
}