@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

.stars-root {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

/* Общий стиль */
.stars {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  animation: animStar linear infinite;
}

/* Малкие звезды */
.stars-small {
  width: 1px;
  height: 1px;
  animation-duration: 50s;
}

.stars-small::after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  box-shadow: inherit;
}

/* Средние */
.stars-medium {
  width: 2px;
  height: 2px;
  animation-duration: 100s;
}

.stars-medium::after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  box-shadow: inherit;
}

/* Большие */
.stars-big {
  width: 3px;
  height: 3px;
  animation-duration: 150s;
}

.stars-big::after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  box-shadow: inherit;
}

/* Анимация */
@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* Заголовок */
.stars-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -60px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 10px;
  color: white;
}

.stars-title span {
  background: linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
