.container {
  width: 100%;
  position: relative;
  background-color: var(--card-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: var(--font-color);
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}


.video__frame {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    aspect-ratio: 1 / 1.2;
  }
}