.container {
  width: 100%;
  position: relative;
  background: transparent;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;

}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: var(--font-color);
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}


.video__frame {
  width: 100%;
  height: 100%;
  /* Allow transparent background if supported */
  background: transparent;
  /* Try to blend the dark background with the page */
  filter: brightness(1.1);
}

@media (max-width: 768px) {
  .container {
    aspect-ratio: 1 / 1.2;
    background: transparent;
    border-radius: 0;
  }
}