.card {
  background: var(--card-color);
  border-radius: 24px;
  padding: 20px;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 5px solid transparent;
}

.card:hover {
  transform: translateY(-8px);
  border: 5px solid var(--accent);
}

.cardHeader {
  display: flex;
}

.cardNumber {
  background: var(--accent);
  color: var(--card-color);
  font-size: 16px;
  font-weight: 900;
  padding: 8px;
  border-radius: 12px;
  line-height: 1;
}

.cardBadge {
  background: var(--accent);
  color: var(--card-color);
  font-size: 14px;
  font-weight: 900;
  padding: 8px 12px;
  border-radius: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.cardTitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-font-color);
}

.cardDescription {
  color: var(--secondary-font-color);
  margin: 0;
  flex-grow: 1;
}

/* Mobile styles */
@media (max-width: 768px) {
  .card {
    padding: 20px 10px;
    gap: 15px;
  }

  .card:hover {
    transform: none;
  }
} 