@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes pulseWidth {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-17%);
  }
  100% {
    transform: translateX(0%);
  }
}

.button {
  z-index: 1;
  font-size: 14px;
  display: block;
  font-weight: 700;
  position: relative;
  border-radius: 35px;
  letter-spacing: 0.14em;
  color: #ffffff;
  background: var(--card-color);
      box-shadow: 0px -3px 15px 0px var(--border-color) inset;
  background-size: cover;
  text-transform: uppercase;
  visibility: visible;
  cursor: pointer;
  text-align: center;
  overflow: hidden; /* Ограничить границы прогресса */
  user-select: none;
}

.inner {
  display: block;
  padding: 20px 45px;
}

.button.pulsing:after {
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  height: 100%;
  width: 25%;
  position: absolute;
  border-radius: 35px;
  background-image: url('../../../images/button.webp');
  background-repeat: no-repeat;
  background-position: center;
  animation: pulseWidth 1.5s ease-in-out infinite alternate;
}

.button.not_pulsing:after {
  top: 0;
  left: 0;
  z-index: -1;
  width: var(--progress-width, 0); /* Динамическая ширина */
  content: "";
  height: 100%;
  position: absolute;
  border-radius: 35px;
  background-image: url('../../../images/button.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.success {
  background-image: url('../../../images/button.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5!important;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}

@media (hover: hover) {
  .button {
    animation-duration: 1500ms;
    animation-delay: 300ms;
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
  }

  .button.pulsing:after {
    width: 70px;
    -webkit-transition: 500ms all ease;
    transition: 500ms all ease;
  }
  
  .button:hover:after {
    width: 100%;
    transform: translateX(0%)!important;
  }

}