.button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
    color: var(--accent);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.2s ease;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 0;
    font-size: 16px;
    font-weight: 800;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
 
    letter-spacing: 0.14em;
  }
  
  .button:hover {
    transform: translateX(4px);
  }
  
  .text {
    font-size: 16px;
    text-shadow: 0 0 5px var(--bg-color-opacity);
  }
  
  .arrow {
    transition: transform 0.2s ease;
  }
  
  .button:hover .arrow {
    transform: translateX(4px);
  }