.button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
    color: #be2bff;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.2s ease;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 0;
    font-size: 16px;
    font-weight: 800;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    letter-spacing: 0.14em;
    position: relative;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(6px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .text {
    font-size: 16px;
    text-shadow: 0 0 5px var(--bg-color-opacity);
  }
  
  .arrow {
    animation: arrowMove 2s infinite;
  }
  
  @keyframes arrowMove {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }