.button {
  padding: 1rem 1rem;
  text-align: center;
  width: 100%;
  color: #ffffff;
  background-color: #281a19;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  text-transform: uppercase;
}

.button:hover:not(:disabled) {
  background-color: #372322;
}

.button:active:not(:disabled) {
  transform: scale(0.98);
}

.button:disabled {
  cursor: not-allowed;
}

.success {
  background-color: #422a28;
}

.status {
  position: absolute;
  bottom: -30px;
  left: 10px;
  color: #000000;
  font-size: 0.875rem;
}