.cursorShadow {
    position: absolute;
    width: 30px; /* Ширина тени */
    height: 30px; /* Высота тени */
    border-radius: 50%; /* Круглая форма */
    background-color: rgba(116, 116, 116, 0.3); /* Полупрозрачный цвет */
    pointer-events: none; /* Игнорировать события мыши */
    transition: transform 0.1s ease; /* Плавный переход */
    transform: translate(-50%, -50%); /* Центрирование тени */
}

@media (max-width: 1030px) {

}

@media (pointer:none), (pointer:coarse) {
    .cursorShadow {
        display: none;
    }
}