.collapsible {
  border-radius: 30px;
  background: var(--card-color);
      box-shadow: 0px -3px 15px 0px var(--border-color) inset;
  padding: 0 30px;
  margin-bottom: 20px;
}

.collapsible:last-child {
   margin-bottom: 0;

}

.header {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px 0px 20px 0;
  transition: color 500ms ease-in-out;
}

.header:hover {
  color: var(--accent);
}

.title {
  overflow: hidden;
  padding-right: 30px;
}


.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
    font-size: 24px;
  font-weight: 300;
  min-width: 24px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}

.arrowIconOpen {
  transform: rotate(0deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 600ms ease-in-out;
}

.visible {
  max-height: 5000px;
}

.inner {
  padding-bottom: 0;
}

.section {
  border-radius: 20px;
  transition: all 300ms ease-in-out;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  gap: 10px;
  transition: color 300ms ease-in-out;
  margin-bottom: 20px;
}

.sectionIcon {
  font-size: 24px;
  font-weight: 300;
  min-width: 24px;
  text-align: center;
}

.symbol {
  margin-right: 13px;
}

.sectionContent {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 500ms ease-in-out;
}

.sectionVisible {
  max-height: 3000px;
  margin-bottom: 40px;
}


@media screen and (max-width: 768px) {
  .collapsible {
    padding: 0 20px;
  }
}
