.container {
  padding: 100px 30px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  min-height: 460px;
  width: 100%;
  max-width: 1285px;
  margin: 0 auto;
  background: var(--card-color);
  box-shadow: 0px -3px 15px 0px var(--border-color) inset;
  border-radius: 20px;
  padding: 50px 60px;
  text-align: center;
}

.form_title {
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.form--two-items {
  justify-content: center;
}

.form__item {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
  max-width: 400px;
}

.form_content {
  flex-basis: 55%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.success {
  text-align: center;
  color: var(--font-color);
  margin-top: 1rem;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.form_elem {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

.form-checkbox {
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 14px;
  cursor: pointer;
}

.form-checkbox__input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--font-color);
  flex-shrink: 0;
}

.form-checkbox__input--error {
  border: 2px solid var(--accent-3);
}

.form-doc {
  cursor: pointer;
  color: inherit;
  font-weight: bold;
  color: var(--accent);
}

.form-checkbox__label {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  text-align: left;
}

.errorMessage {
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
}

.form-checkbox__input:checked {
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
}

.textTitle {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }

  .form__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    padding-top: 37px;
    padding-bottom: 37px;
    flex: 1 1 100%;
    width: 100%;
  }

  .form_elem {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
    gap: 20px;
  }

  .form_content {
    flex-basis: 100%;
  }

  .form-checkbox__label {
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    text-align: left;
  }

  .errorMessage {
    font-size: 14px;
    line-height: 20px;
    margin-left: 30px;
  }

  .form_title {
    margin-bottom: 20px;
  }
}