.inputGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

.inputWrapper {
  position: relative;
}

.input {
    width: 100%;
    height: 50px;
    padding: 2px 20px;
    margin-bottom: 30px;
    background: var(--card-color);
    border: 1px solid var(--card-color);
    transition: all 0.2s;
    border-radius: 24px;
}

.input:focus {
  outline: none;
  border-color: var(--accent-2);
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.error .input {
  border-color: #EF4444;
}

.errorMessage {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: #EF4444;
  font-size: 0.7rem;
}