@keyframes line_animation {
	0% {
		top: 0px;
		opacity: 1; 
	}
	50% {
		top: 50%; 
	}
	100% {
		top: 100%;
		opacity: 1; 
	} 
}

@keyframes line_animation_2 {
	0% {
		opacity: 1;
		bottom: 0px;
	}
	50% {
		bottom: 50%; 
	}
	100% {
		bottom: 100%;
		opacity: 1;
	} 
}

.line_animation {
	position: absolute;
	top: 0px;
	left: 50%;
	z-index: 0;
	width: 100%;
	bottom: 0px;
	display: block;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.line_area {
    width: 12.5%;
    height: 100%;
    position: relative;
    display: inline-block;
	border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.line_area:before {
    width: 1px;
    right: -1px;
    content: '';
    height: 60px;
    border-radius: 100%;
    position: absolute; 
    background-image: linear-gradient(0deg, var(--font-color), transparent);
}

.line_animation .line_area:nth-child(1):before {
	animation: line_animation 20s ease-out infinite;
}

.line_animation .line_area:nth-child(2):before {
	animation: line_animation_2 22s ease-out infinite;
}

.line_animation .line_area:nth-child(3):before {
	animation: line_animation 24s ease-out infinite;
}

.line_animation .line_area:nth-child(4):before {
	animation: line_animation_2 26s ease-out infinite;
}

.line_animation .line_area:nth-child(5):before {
	animation: line_animation 28s ease-out infinite;
}

.line_animation .line_area:nth-child(6):before {
	animation: line_animation_2 30s ease-out infinite;
}

.line_animation .line_area:nth-child(7):before {
	animation: line_animation 32s ease-out infinite;
}

.line_animation .line_area:nth-child(8):before {
	animation: line_animation_2 34s ease-out infinite;
}