.button {
  z-index: 1;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
  position: relative;
  border-radius: 35px;
  letter-spacing: 0.14em;
  color: #ffffff;
  box-shadow: 0px -3px 15px 0px var(--border-color) inset;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border: none;
  text-decoration: none;
  user-select: none;
  padding: 15px 40px;
  transition: all 0.3s ease;
  overflow: hidden;
}

 .button:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-image: url('../../../images/button.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
