.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    padding: 30px 50px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 2;
    color: #fff;
}

.header__logo {
    height: 50px;
    width: auto;
    margin-top: -10px;
}


.logo__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.logo__title_colored {
    color: var(--accent);
} 

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 20px;
    list-style: none;
}

.navigation__item {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 0;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.navigation__item:hover {
    color: var(--accent);
}


.active {
    color: var(--accent);
}

.dropdownItem.active {
    color: var(--accent);
}

.symbol {
    margin-left: 5px;
}

.burgerButton {
    display: none;
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 60px;
        right: 0;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        z-index: 10;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        background: #000000;
    }

    .header_opened {
        transform: translateX(0);
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
    }

    .navigation__item {
        font-size: 18px;
    }

    .burgerButton {
        display: block;
        padding: 10px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 25px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
        z-index: 1000; /* Ensure it appears above other elements */
        transition: transform 0.5s ease; /* Smooth transition for the button */
    }
    
    .burgerLine {
        width: 30px; /* Adjust width as needed */
        height: 3px; /* Adjust height as needed */
        background-color: rgb(255, 255, 255); /* Change color as needed */
        margin: 5px 0; /* Space between lines */
        transition: all 0.3s ease; /* Smooth transition for animations */
    }
    
    .burgerButton.open .burgerLine:nth-child(1) {
        background-color: rgb(255, 255, 255); /* Change color as needed */
        transform: translateY(8px) rotate(45deg); /* Move and rotate the first line */
    }
    
    .burgerButton.open .burgerLine:nth-child(3) {
        background-color: rgb(255, 255, 255); /* Change color as needed */
        transform: translateY(-8px) rotate(-45deg); /* Move and rotate the first line */
    }
    
    .burgerButton.open .burgerLine:nth-child(2) {
        opacity: 0; /* Hide the middle line */
    }

    .logo__title {
        font-size: 24px;
        line-height: 30px;
    }
}

.dropdown {
    left: -20px;
    top: 40px;
    z-index: 100;
    padding: 10px 0;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    opacity: 0;
    background: #000000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    text-align: left;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.dropdownItem {
    display: block;
    position: relative;
    padding: 8px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    white-space: nowrap;
}

.dropdownItem:hover {
    color: var(--accent);
}

.visible {
    opacity: 1;
    transform: scaleY(1);
}

@media (max-width: 768px) {
    .symbol {
        display: none;
    }

    .dropdown {
        display: none;
    }
}

