.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 30px 50px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 2;
    color: #fff;
}

.header__logo {
    height: 50px;
    width: auto;
}

.logo__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    font-family: var(--heading-1);
}

.logo__title_colored {
    color: var(--accent);
} 

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.navigation__item {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 0;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.burgerButton {
    display: none;
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 60px;
        right: 0;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        z-index: 10;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transform: translateX(100%);
        transition: transform 1s ease-in-out;
        background: #000000;
    }

    .header_opened {
        transform: translateX(0);
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
    }

    .burgerButton {
        display: block;
        background: rgba(90, 90, 90, 0.347);
        border-radius: 50%;
        padding: 15px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px; /* Adjust as needed */
        right: 20px; /* Adjust as needed */
        z-index: 1000; /* Ensure it appears above other elements */
        transition: transform 0.5s ease; /* Smooth transition for the button */
    }
    
    .burgerLine {
        width: 30px; /* Adjust width as needed */
        height: 3px; /* Adjust height as needed */
        background-color: rgb(255, 255, 255); /* Change color as needed */
        margin: 5px 0; /* Space between lines */
        transition: all 0.3s ease; /* Smooth transition for animations */
    }
    
    .burgerButton.open .burgerLine:nth-child(1) {
        background-color: rgb(255, 255, 255); /* Change color as needed */
        transform: translateY(8px) rotate(45deg); /* Move and rotate the first line */
    }
    
    .burgerButton.open .burgerLine:nth-child(3) {
        background-color: rgb(255, 255, 255); /* Change color as needed */
        transform: translateY(-8px) rotate(-45deg); /* Move and rotate the first line */
    }
    
    .burgerButton.open .burgerLine:nth-child(2) {
        opacity: 0; /* Hide the middle line */
    }

    .logo__title {
        font-size: 24px;
        line-height: 30px;
    }
}

