@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

.threeContainer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
 
}

.threeContainer canvas {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.6;
}
