.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  background: var(--card-color);
  box-shadow: 0px -3px 15px 0px var(--border-color) inset;
}

.header {
  padding: 30px 30px 30px 30px;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}

.title {

  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0;
}

.textSymbol {
  color: var(--accent);
  font-size: 24px;
  font-weight: 700;
}

.listWrapper {
  overflow: hidden;
}

.list {
  height: 400px;
  overflow-y: auto;
}

.item {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: all 0.5s;
}

.item:hover {
  color: var(--accent);
}

.selected .videoTitle {
  color: var(--font-color);
}

.thumbnail {
  position: relative;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  background-color: var(--bg-color);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.videoTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    background: transparent;
    border-radius: 0;
  }

  .list {
    height: 300px;
    padding: 20px 0;
    overflow-y: auto;
  }

  .item {
    padding: 15px 25px;
  }

  .header {
    padding: 20px 20px 10px;
  }

  .listWrapper {
    background: transparent;
    overflow: hidden;
  }
}