.container {
  background-color: rgb(51, 48, 56);
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1.5rem;
  border-bottom: 2px solid #000000;
}

.title {
  font-size: 1.355rem;
  font-weight: 800;
  margin: 0;
}

.list {
  height: 500px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

.list::-webkit-scrollbar-track {
  background-color: rgb(51, 48, 56);

}

.list::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.item {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s;
  border-bottom: 2px solid #000000;
}

.item:hover {
  background-color: #222124;
}

.selected {
  background-color: #222124;
}

.selected .videoTitle {
  color: #ffffff;
}

.selected:hover {
  background-color: #222124;
}

.thumbnail {
  position: relative;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000000;
}

.duration {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 0.75rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.videoTitle {
  font-weight: 300;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 768px) {
  .list {
    height: 250px;
    overflow-y: auto;
  }
}