.container {
    padding: 100px 30px;
    width: 100%;
    max-width: 1285px;
    margin: 0 auto;
}

.question__main_title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.title_empty {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.question {
    margin-bottom: 30px;
    border-radius: 30px;
    max-width: 800px;
}

.question__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    gap:20px;
    padding: 20px;
    transition:  color 500ms ease-in-out;
    white-space: pre-line;
    padding: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.question__title:hover {
    color: var(--accent);
}

.question__answer {
    height: auto;
    max-height: 0;
    width: 100%;
    overflow: auto;
    z-index: -1;
    transition: all 600ms ease-in-out;
    color: var(--secondary-font-color);
    white-space: pre-line;
    opacity: 0;
    padding-top: 20px;
}

.active {
    color: var(--accent);
}

.question__answer::-webkit-scrollbar {
    width: 0px;
    height: 0;
}

.question__answer--visible {
    max-height: 700px;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 60px 20px;
    }

    .question {
        width: 100%;
    }

    .question__answer--visible {
        max-height: 1300px;
    }

    .question__main_title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 60px;
        margin-right: 0;
    }

    .question__title {
        width: 100%;
        justify-content: space-between;
    }

    .question__title:hover {

        color: #fff;
    }
    .active {
        color: var(--accent)!important;
    }
}