.card {
  background: var(--card-color);
  border-radius: 24px;
  padding: 20px 20px 40px;
  position: relative;
  transition: all 0.3s ease;
  border: 5px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.card:hover {
  transform: translateY(-8px);
}


.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--font-color);
  margin: 0;
}

.popularBadge {
  background: var(--accent);
  color: var(--card-color);
  font-size: 12px;
  font-weight: 900;
  padding: 8px 16px;
  border-radius: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.featuresList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feature {
  display: flex;
  align-items: flex-start;
  color: var(--secondary-font-color);
  line-height: 1.5;
}

.checkmark {
  background: var(--accent);
  color: var(--bg-color);
  font-weight: 900;
  margin-right: 12px;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 8px;
  line-height: 1;
  flex-shrink: 0;
}

.priceSection {
  text-align: center;
}

.price {
  color: var(--font-color);;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}


.description {
  color: var(--secondary-font-color);
  line-height: 1.6;
  margin: 0;
  text-align: center;
}

.buyButton {
    text-align: center;
    background: var(--accent-3);
  color: var(--font-color);
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.buyButton:hover {
  transform: translateY(-2px);
}



@media (max-width: 768px) {
  .card {
    padding: 20px;
    gap: 15px;
  }
  
  .card:hover {
    transform: none;
  }
  
  
  .cardTitle {
    font-size: 20px;
  }
  
  .price {
    font-size: 28px;
  }
} 