.imageWrapper {
    position: relative; /* Required for absolute positioning */
    width: 100%; /* Full width */
    height: 0; /* Set height to 0 */
    padding-bottom: 56%; /* This creates a 1:1 aspect ratio */
    overflow: hidden; /* Hide overflow */
    background-color: #fff;
  }
  
  .image {
    position: absolute; /* Position the image absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the entire area */
    object-position: center; /* Center the image */
    z-index: 1;
    transition: all 1s ease-in-out;
    opacity: 0;
  }

  .loaded {
    opacity: 1;
  }

  .image:hover {
    transform: scale(1.02);
  }
  
  .description {
    color: #fff; /* Text color */
    position: absolute; /* Position the image absolutely */
    bottom: 40px;
    left: 20px;
    font-size: 20px;
    line-height: 1.45;
    z-index: 2;
  }

  @media (max-width: 768px) {
    .imageWrapper {
      padding-bottom: 150%; /* This creates a 1:1 aspect ratio */
    }

    .description {
      font-size: 14px;
    }
  }
  