/* Footer.module.css */
.footer {
    color: var(--font-color);
    padding: 0 60px 60px;
}

.container {
    padding-top: 60px;
    max-width: 1285px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.logo__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.logo {
    height: 70px;
    width: auto;
    object-fit: cover;
}

.navigation {
    flex: 1;
}

.navigation ul {    
   list-style: none;
}

.contact {
    flex: 1;
}

.list_title {
    color: var(--font-color);
    margin-bottom: 14px;
    text-transform: uppercase;
    line-height: 1.35;
}

.list {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
}

.list  a {
    cursor: pointer;
}

.social__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--card-color);
  transition: all 0.3s ease;
  color: var(--font-color);
  cursor: pointer;
}

.social__link:hover {
  background-color: var(--icons-opacity-hover);
  transform: translateY(-2px);
}

.year {
    color: var(--secondary-font-color);
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
}

@media (max-width: 768px) {
    .logo__container {
        flex-basis: 100%;
    }

    .container {
        flex-direction: row;
        row-gap: 30px;
    }

    .navigation {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .navigation[id="contacts"] {
        flex-basis: 100%;
    }

    .footer {
        padding: 40px 20px;
    }
}