.block {
  background-color: #181818;
  gap: 30px;
  padding: 150px 30px 150px;
}

.block__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 1185px;
  margin: 0 auto;
}

.imageWrapper {
  flex-basis: 40%; /* Устанавливаем ширину элемента на 50% */
  position: relative;
  aspect-ratio: 2/2.3;
}

.image {
  width: 100%; /* Ширина изображения 100% */
  height: 100%; /* Высота изображения 100% */
  object-fit: cover;
  object-position: center;
  transition: all 1s ease-in-out;
  opacity: 0;
  background-color: black;
  border-radius: 20px;
}

.loaded {
  opacity: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text vertically */
  align-items: center; /* Center text horizontally */
  flex-basis: 55%;
  max-width: 600px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


/* Responsive styles */
@media (max-width: 768px) {
  .block {
    padding: 40px 20px;
  }

  .block__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .textWrapper {
    gap: 30px;
    padding: 30px 0;
  }
}
