.block {
    padding-top: 60px;
    padding-bottom: 180px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .content {
    width: 100%; /* Full width for smaller screens */
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .block b {
    font-weight: 800;
  }

  .block ul {
    padding-left: 30px;
  }
  
  @media (max-width: 768px) {
    .block {
      padding-top: 30px;
      padding-bottom: 90px;
    }
  }
  