.container {
    background-color: var(--card-color);
}


.block {
    max-width: 1285px;
    margin: 0 auto;
    padding: 100px 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.description {
    flex-basis: 40%;
    margin-bottom: 20px;
}

.accent {
    color: var(--accent);
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.loaded {
    opacity: 1;
}

@keyframes gradientRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes gradientRotationClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradientRotationCounterClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 250px;
    position: relative;
    background-color: var(--card-color);
    z-index: 1;
    overflow: hidden;
}

.circle::before {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    background: conic-gradient(
        from 0deg, 
        var(--accent) 0%, 
        var(--accent) 70%, 
        transparent 90%,
        transparent 100%
    );
    z-index: -1;
    animation: gradientRotationCounterClockwise 20s infinite linear;
}

.circle::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: var(--bg-color);
    z-index: -1;
    margin: 5px;
}

.textTitle {
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    color: var(--font-color);
}

.description {
  max-width: 700px;
}

@media (max-width: 768px) {
    .block {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 60px 20px;
        gap: 40px;
    }

    .description {
        flex-basis: 100%;
    }


    .textTitle {
        font-size: 14px;
        line-height: 24px;
    }
    

    .flex-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        justify-items: center;
    }

    .circle {
        margin: 0;
        width: 100%;
        min-width: 160px;
        max-width: 160px;
        height: 160px;
    }
    
    .flex-container .circle:nth-child(even)::before {
        animation: gradientRotationClockwise 20s infinite linear;
        background: conic-gradient(
            from 0deg, 
            transparent 0%,
            transparent 10%,
            var(--accent) 30%, 
            var(--accent) 100%
        );
    }
    
    .flex-container .circle:nth-child(odd)::before {
        animation: gradientRotationCounterClockwise 20s infinite linear;
    }
}
  