.textBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.textSymbol {
  color: var(--accent);
  margin-right: 5px;
}

.textDescription {
  margin-bottom: 5px;
}

.title_middle {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--font-color);
}

.title_small {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--font-color);
}

.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0;
  max-width: 1185px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: var(--font-color);
}

.title_empty {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--font-color);
}

.message {
  margin: 0 auto;
}

.fullWidthImageContainer {
  width: 100%;
  margin: 0;
  position: relative;
  height: 0;
  padding-bottom: 50%;
  /* 2:1 aspect ratio */
  overflow: hidden;
  border-radius: 30px;
}

.fullWidthImage {
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
  }

  .title_middle {
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--font-color);
  }

  .title_small {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--font-color);
  }
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
  gap: 20px;
}

.imageContainer {
  position: relative;
  background-color: var(--bg-color-opacity);
  border-radius: 24px;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 35%;
  z-index: -1;
  border-radius: 24px;
}

.imageContent {
  position: relative;
  z-index: 1;
  padding: 60px 20px;
}

.imageContent .title_small {
  color: #ffffff;
}

.imageContent .textDescription {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .imageContent {
    padding: 30px 15px;
  }
}