.container {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 40px 20px;
    }
}

