.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}


@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
    }
}

