*::-webkit-scrollbar {
    width: 4px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background-color: #ffffff;

}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
}

* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--font-tilda);
    margin: 0;
    background-color: var(--bg-color);
    font-size: 16px;
    line-height: 25px;
    color: var(--font-color);
    position: relative;
}

html, 
body {
    overflow-x: hidden;
    height: 100%;
}

.no-scroll-page  {
    overflow: hidden;
}