:root {
  /* #ff6b61 in decimal RGB */

  /* Fonts */
  --heading-1: "Arimo";
  --heading-2: "Oswald";
  --heading-3: "Jost";
  --heading-4: "Poppins";
  --body-font: "Arimo";
  --transition: 500ms all ease;

  /* Fonts */
  --heading: "Nunito";
  --body-font: "Rubik";
  --transition: 500ms all ease;

  --bg-color: #000000;
  --font-color: #ffffff;
  --secondary-font-color: #a2a2a2;


  
  --accent: #EDB834 ;
  --accent-opacity: #edb834b2;
  --accent-2: #8500bf;
  --accent-22: linear-gradient(90deg, #e605ff60 0%, #c528d6 15%, #9913ad 30%, #e64dff70 45%, #dd00ff85 60%, #7b008ef2 75%, #ec42ff 90%, #961fa3 100%);
  --accent-3: #ff2a2a;
 --accent-33: #ff2a2a;

  --border-color: #4b4b4b;
  --card-color: linear-gradient(70deg, hsl(0deg 0% 22.46% / 0%), rgb(37 37 37 / 69%) 20%, hsl(0deg 0% 40% / 39%) 40%, rgb(39 39 39 / 56%) 60%, rgba(65, 65, 65, .3) 80%, rgb(95 95 95 / 0%));
  --card-color-1: linear-gradient(180deg, rgb(195 195 195 / 10%) 0%, rgba(49, 49, 49, 0.6) 25%, rgba(101, 101, 101, 0.312) 50%, rgba(39, 39, 39, 0.317) 75%, rgb(11 11 11 / 32%) 100%);
  --card-color-2: radial-gradient(circle at center, rgb(195 195 195 / 10%) 0%, rgba(49, 49, 49, 0.6) 30%, rgba(101, 101, 101, 0.312) 60%, rgba(39, 39, 39, 0.317) 85%, rgb(11 11 11 / 32%) 100%);
  --card-color-3: radial-gradient(circle at 30% 30%, rgb(195 195 195 / 10%) 0%, rgba(49, 49, 49, 0.6) 20%, rgba(101, 101, 101, 0.312) 45%, rgba(39, 39, 39, 0.317) 70%, rgb(95 95 95 / 40%) 100%);
  --card-color-4: conic-gradient(from 0deg at 50% 50%, rgb(195 195 195 / 10%), rgba(49, 49, 49, 0.6) 72deg, rgba(101, 101, 101, 0.312) 144deg, rgba(39, 39, 39, 0.317) 216deg, rgb(11 11 11 / 32%) 288deg, rgb(195 195 195 / 10%) 360deg);
  --card-color-5: linear-gradient(45deg, rgb(195 195 195 / 10%) 0%, rgb(195 195 195 / 10%) 20%, rgba(49, 49, 49, 0.6) 20%, rgba(49, 49, 49, 0.6) 40%, rgba(101, 101, 101, 0.312) 40%, rgba(101, 101, 101, 0.312) 60%, rgba(39, 39, 39, 0.317) 60%, rgba(39, 39, 39, 0.317) 80%, rgb(95 95 95 / 40%) 80%, rgb(95 95 95 / 40%) 100%);
  --bg-color-opacity: #0000008e;
  --nav-mobile-opacity: #0000008e;

  --button-opacity: #3e3e3e86;
  --icons-opacity: #3e3e3e86;
  --button-opacity-hover: #4c4c4cd1;
  --icons-opacity-hover: #4c4c4cd1;
}


* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font);
  font-weight: 300;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-font-color);
  position: relative;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  background-color: var(--bg-color);
  white-space: pre-line;
  position: relative;
}

body {
  background-color: transparent;
}

.no-scroll-page {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

