:root {
  /* #ff6b61 in decimal RGB */

  /* Fonts */
  --heading-1: "Arimo";
  --heading-2: "Oswald";
  --heading-3: "Jost";
  --heading-4: "Poppins";
  --body-font: "Arimo";
  --transition: 500ms all ease;

  /* Fonts */
  --heading: "Nunito";
  --body-font: "Rubik";
  --transition: 500ms all ease;

  --bg-color: #000000;
  --font-color: #ffffff;
  --secondary-font-color: #a2a2a2;


  --accent: #EDB834;
  --accent-opacity: #edb834b2;
  --accent-2: #8500bf;

  --border-color: #1C1C1C;
  --card-color: #181818;
  --bg-color-opacity: #0000008e;
  --nav-mobile-opacity: #0000008e;

  --button-opacity: #3e3e3e86;
  --icons-opacity: #3e3e3e86;
  --button-opacity-hover: #4c4c4cd1;
  --icons-opacity-hover: #4c4c4cd1;
}

:root[theme='light'] {
    /* #ff6b61 in decimal RGB */

  /* Fonts */
  --heading-1: "Arimo";
  --heading-2: "Oswald";
  --heading-3: "Jost";
  --heading-4: "Poppins";
  --body-font: "Arimo";
  --transition: 500ms all ease;

  /* Fonts */
  --heading: "Nunito";
  --body-font: "Rubik";
  --transition: 500ms all ease;

  --bg-color: #ffffff;
  --font-color: #828282;
  --secondary-font-color: #6f6f6f;
  --accent: #9c6aff;

  --accent-rgb: 52, 103, 255;
  --border-color: #ffffff;
  --card-color: #ebebeb;
  --bg-color-opacity: #0000005b;
  --nav-mobile-opacity: #d8d8d886;

  --button-opacity: #dfdfdf;
  --button-opacity-hover: #ffffff;

  --icons-opacity: #ffffff;
  --icons-opacity-hover: #ffffff;

}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font);
  font-weight: 300;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-font-color);
  position: relative;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  background-color: var(--bg-color);
  white-space: pre-line;
  position: relative;
}

body {
  background-color: transparent;
}

.no-scroll-page {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  border-radius: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}
