.secondaryPreview {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50dvh; /* Full height of the viewport */
    min-height: 700px;
    color: var(--font-color); /* Text color */
    overflow: hidden;
    position: relative;
  }
  
  .secondaryPreview__content {
    padding: 0 30px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .secondaryPreview__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
    animation: backgroundMove 15s ease-in-out infinite;
    transform-origin: center center;
  }
  
  @keyframes backgroundMove {
    0% {
      transform: scale(1.05) translateX(0);
    }
    25% {
      transform: scale(1.08) translateX(-1.5%);
    }
    50% {
      transform: scale(1.1) translateX(1.5%);
    }
    75% {
      transform: scale(1.08) translateX(0.8%);
    }
    100% {
      transform: scale(1.05) translateX(0);
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-opacity);
    z-index: 1;
  }
  
  .loaded {
    opacity: 1;
  }

  .secondaryPreview__title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 1000px;
    line-height: 72px;
    padding-bottom: 12px;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .secondaryPreview__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .secondaryPreview {
      padding-top: 80px;
      height: 90dvh; /* Full height of the viewport */
      min-height: 300px;
    }
  
    .secondaryPreview__title {
      font-size: 60px; /* Smaller title size for mobile */
      line-height: 72px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .secondaryPreview__title {
      font-size: 30px; /* Even smaller title size for very small screens */
      line-height: 40px;
    }
  }
  