.preview {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh; /* Full height of the viewport */
  min-height: 500px;
  color: var(--font-color);
  overflow: hidden;
  
}

.preview__content {
  padding: 0 30px;
  margin-top: 100px;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preview__bg {
  position: absolute;
  bottom: -60%;
  width: auto;
  height: 120%;
  z-index: 0; /* Send the image to the back */
  animation: rotate-right 120s linear infinite;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loaded {
  opacity: 1;
}

.preview__title {
  font-size: 76px;
  font-weight: 700;
  line-height: 92px;
  text-transform: uppercase;
}

.preview__title_empty {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #be2bff;
  /* color: var(--accent); */
}

/* Responsive styles */
@media (max-width: 768px) {
  .preview {
    padding-top: 80px;
  }

  .preview__content {
    padding: 0 5px;
  }

  .preview__title {
    font-size: 35px; /* Even smaller title size for very small screens */
    line-height: 40px;
  }
}

.button_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

@keyframes pulse {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.telegram_container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
  animation: pulse 2s ease-in-out infinite;
}

.telegram_button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  background-color: var(--accent);
  color: white;
  border-radius: 2rem;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.social_links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.social_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--icons-opacity);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  margin-bottom: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.social_link:hover {
  background-color: var(--icons-opacity-hover);
  transform: scale(1.2) translateY(-2px);
}

.social_icon {
  width: 30px;
  height: 30px;
  color: #ffffff;
}

.social_label {
  position: absolute;
  bottom: -25px;
  font-size: 14px;
  color: var(--font-color);
  opacity: 1;
  transition: opacity 0.2s ease;
}
