.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px; /* Full height of the viewport */
  color: white; /* Text color */
  background: #000000b2;
}

.preview__content {
  margin-top: -180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preview__bg {
  position: fixed;
  top: 0;
  left: 25%;
  width: auto;
  height: 120%;
  z-index: -1; /* Send the image to the back */
  animation: rotate-right 80s linear infinite;
}

.preview__sign {
  font-size: 14px; /* Adjust as needed */
  margin-bottom: 10px; /* Space between sign and title */
}

.preview__title {
  font-size: 72px;
  line-height: 1.17;
  font-weight: 600;
}

.preview__description {
  font-size: 22px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .preview__bg {
    top: 0;
    left: -30%;
    width: auto;
    height: 100%;
  }
  
  .preview__title {
    font-size: 36px; /* Smaller title size for mobile */
    padding: 10px;
  }

  .preview__description {
    font-size: 20px; /* Smaller description size for mobile */
  }
}

@media (max-width: 480px) {
  .preview__title {
    font-size: 30px; /* Even smaller title size for very small screens */
  }

  .preview__description {
    font-size: 16px; /* Even smaller description size for very small screens */
  }
}
